%h1 Edit website
= form_for(:website, :url => contact_website_url(@contact.id, @website), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :url, "Website:"
      %td= f.text_field :url
      %td.error= @website.errors[:url].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
