%h1 Add website
= form_for(:website, :url => contact_websites_url(@contact.id)) do |f|
  %table.edit
    %tr
      %th= f.label :url, "Website:"
      %td= f.text_field :url
      %td.error= @website.errors[:url].first
    %tr
      %th &nbsp;
      %td= f.submit "Add", :class => "button"
