<h1>Add phone</h1>                                          

<%= form_for(:phone, :url => contact_phones_url(@contact.id)) do |form| %>
	<table class="edit">
		<tr>
			<th><label for="phone_number">Number:</label></th>
			<td><%= form.text_field :number %></td>
			<td><%= @phone.errors[:number].first %></td>
		</tr>                                   

		<tr>
			<th><label for="phone_type">Type:</label></th>
			<td><%= form.select :type, Phone::TYPES %></td>
			<td><%= @phone.errors[:type].first %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Add", :class => "button" %></td>
		</tr>
	</table>
<% end %>
