%h1 Add phone
= form_for(:phone, :url => contact_phones_url(@contact.id)) do |f|
  %table.edit
    %tr
      %th= f.label :number, "Number:"
      %td= f.text_field :number
      %td.error= @phone.errors[:number].first
    %tr
      %th= f.label :type, "Type:"
      %td= f.select :type, Phone::TYPES
      %td.error= @phone.errors[:type].first
    %tr
      %th &nbsp;
      %td= f.submit "Add", :class => "button"
