<% for person in @people %>
	<tr>
		<td>
			<%= link_to h(person.name), person_url(person) %>
		</td>

		<td>
			<% if person.address.to_s.length > 0 %>
				<%= h(person.address) -%><br />
			<% end %>

			<% if person.zipcode.to_s.length > 0 %>
				<%= h(person.zipcode) + ' ' + h(person.city) -%><br />
			<% elsif person.city.to_s.length > 0 %>
				<%= h(person.city) -%><br />
			<% end %>

			<% if person.country.to_s.length > 0 %>
				<%= h(person.country) -%><br />
			<% end %>

			<% if person.phone.to_s.length > 0 %>
				<%= h(person.phone) -%><br />
			<% end %>

			<%= link_to 'more &raquo;', person_url(person) %>
		</td>

		<td>
			<%= link_to 'delete', person_url(person), :method  => :delete %>
		</td>
	</tr>
<% end %>
