<p class="edit"><%= link_to 'Edit', edit_person_url(@person) -%></p>
<h1><%= h(@person.name) -%></h1>                                          

<table class="show">
	<tr>
		<th>Sort key</th>
		<td><%= h(@person.sort_key) -%></td>
	</tr>                                   
	<tr>
		<th>Created</th>
		<td><%= @person.created_at.strftime('%Y-%m-%d') -%></td>
	</tr>

	<tr>
		<th>Modified</th>
		<td><%= @person.updated_at.strftime('%Y-%m-%d') -%></td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Address</th>
		<td>
			<% counter = 0 %>
			<% for address in @person.addresses %>
				<div>
					<div class="edit">
						<%= link_to 'Edit', edit_person_address_url(@person.id, address) -%>,
						<%= link_to 'Delete', person_address_url(@person.id, address), :confirm => 'Are you sure?', :method => 'delete' %>
					</div>
					<% if address.address.to_s.length > 0 %>
						<div><%= h(address.address) -%></div>
					<% end %>

					<% if address.zipcode.to_s.length > 0 %>
						<div><%= h(address.zipcode) -%> <%= h(address.city) -%></div>
					<% elsif address.city.to_s.length > 0 %>
						<div><%= h(address.city) -%></div>
					<% end %>

					<% if address.country.to_s.length > 0 %>
						<div><%= h(address.country) -%></div>
					<% end %>
				</div>

				<% counter += 1 %>
				<% if counter < @person.addresses.length %>
					<br />
				<% end %>

			<% end %>
			<div class="add"><%= link_to 'Add an address', new_person_address_url(@person.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Phone</th>
		<td>
			<% for phone in @person.phones %>
				<div class="edit">
					<%= link_to 'Edit', edit_person_phone_url(@person.id, phone) -%>,
					<%= link_to 'Delete', person_phone_url(@person.id, phone), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
				<div><%= h(phone.number) -%></div>
			<% end %>
			<div class="add"><%= link_to 'Add a phone number', new_person_phone_url(@person.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Email</th>
		<td>
			<% for email in @person.emails %>
				<div class="edit">
					<%= link_to 'Edit', edit_person_email_url(@person.id, email) -%>,
					<%= link_to 'Delete', person_email_url(@person.id, email), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
				<div><%= h(email.address) -%></div>
			<% end %>
			<div class="add"><%= link_to 'Add an email address', new_person_email_url(@person.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Website</th>
		<td>
			<% for website in @person.websites %>
				<div class="edit">
					<%= link_to 'Edit', edit_person_website_url(@person.id, website) -%>,
					<%= link_to 'Delete', person_website_url(@person.id, website), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
				<div><%= h(website.url) -%></div>
			<% end %>
			<div class="add"><%= link_to 'Add a website', new_person_website_url(@person.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Twitter</th>
		<td>
			<% for twitter in @person.twitters %>
				<div class="edit">
					<%= link_to 'Edit', edit_person_twitter_url(@person.id, twitter) -%>,
					<%= link_to 'Delete', person_twitter_url(@person.id, twitter), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
				<div><%= h(twitter.username) -%></div>
			<% end %>
			<div class="add"><%= link_to 'Add a twitter username', new_person_twitter_url(@person.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<tr>
		<th>Im</th>
		<td>
			<% for im in @person.instant_messagings %>
				<div class="edit">
					<%= link_to 'Edit', edit_person_instant_messaging_url(@person.id, im) -%>,
					<%= link_to 'Delete', person_instant_messaging_url(@person.id, im), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
				<div><%= h(im.account) -%></div>
			<% end %>
			<div class="add"><%= link_to 'Add an instant message account', new_person_instant_messaging_url(@person.id) -%></div>
		</td>
	</tr>
</table>

