<h1>New user</h1>
<%= form_for(:user, :url => users_url) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="user_username">Username:</label></th>
			<td><%= form.text_field :username %></td>
			<td><%= @user.errors[:username].first %></td>
		</tr>

		<tr>
			<th><label for="user_password">Password:</label></th>
			<td><%= form.password_field :password %></td>
			<td><%= @user.errors[:password].first %></td>
		</tr>

		<tr>
			<th><label for="user_password_confirmation">Confirm:</label></th>
			<td><%= form.password_field :password_confirmation %></td>
			<td><%= @user.errors[:password_confirmation].first %></td>
		</tr>

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>
