<% for contact in @contacts %>
	<tr>
		<td>
			<h1 class="contact_name"><%= link_to h(contact.name), contact_url(contact) -%></h1>

			<% for email in contact.emails %>
				<p class="contact_method"><a href="mailto:<%= h(email.address) -%>"><%= h(email.address) -%></a></p>
			<% end %>

			<% for phone in contact.phones %>
				<p class="contact_method"><%= h(phone.number) -%> (<%= h(phone.type) -%>)</p>
			<% end %>
		</td>

		<td>
			<% address = '' %>

			<% if contact.address.to_s.length > 0 %>
				<% address = contact.address %>
			<% end %>

			<% if contact.city.to_s.length > 0 %>
				<% if address.to_s.length > 0 %>
					<% address += ', ' + contact.city %>
				<% else %>
					<% address = contact.city %>
				<% end %>
			<% end %>

			<% if contact.country.to_s.length > 0 %>
				<% if address.to_s.length > 0 %>
					<% address += ', ' + contact.country %>
				<% else %>
					<% address = contact.country %>
				<% end %>
			<% end %>

			<p class="contact_address"><%= h(address) %></p>
		</td>

		<td>
			<p class="contact_action">
			<%= link_to 'Details', contact_url(contact) %>,
			<%= link_to 'Delete', contact_url(contact), :method  => :delete %>
			</p>
		</td>
	</tr>


<% end %>

