%h1 Edit contact
= form_for(:contact, :url => contact_url(@contact), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :name, "Name:", :class => "required"
      %td= f.text_field :name
      %td.error= @contact.errors[:name].first
    %tr
      %th= f.label :sort_key, "Sort key:", :class => "required"
      %td= f.text_field :sort_key
      %td.error= @contact.errors[:sort_key].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
