<h1>New contact</h1>                                          

<%= form_for(:contact, :url => contacts_url) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="contact_name"><b>Name:</b></label></th>
			<td><%= form.text_field :name %></td>
			<td><%= @contact.errors[:name].first %></td>
		</tr>                                   

		<tr>
			<th><label for="contact_sortkey">Sort key:</label></th>
			<td><%= form.text_field :sort_key %></td>
			<td><%= @contact.errors[:sort_key].first %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

