<table class="show">
	<tr>
		<td colspan="2">
			<h1><%= h(@contact.name) -%></h1>                                          
		</td>
		<td>
			<div class="edit"><%= link_to 'Edit', edit_contact_url(@contact) -%></div>
		</td>
	</tr>
	<tr>
		<th>Sort key</th>
		<td><%= h(@contact.sort_key) -%></td>
	</tr>                                   
	<tr>
		<th>Created</th>
		<td><%= @contact.created_at.strftime('%Y-%m-%d') -%></td>
	</tr>

	<tr>
		<th>Modified</th>
		<td><%= @contact.updated_at.strftime('%Y-%m-%d') -%></td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for address in @contact.addresses %>
		<tr>
			<% if counter == 0 %>
				<th>Address</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<% if address.address.to_s.length > 0 %>
					<div><%= h(address.address) -%></div>
				<% end %>

				<% if address.zipcode.to_s.length > 0 %>
					<div><%= h(address.zipcode) -%> <%= h(address.city) -%></div>
				<% elsif address.city.to_s.length > 0 %>
					<div><%= h(address.city) -%></div>
				<% end %>

				<% if address.country.to_s.length > 0 %>
					<div><%= h(address.country) -%></div>
				<% end %>

				<% counter += 1 %>
				<% if counter < @contact.addresses.length %>
					<br />
				<% end %>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_address_url(@contact.id, address) -%>,
					<%= link_to 'Delete', contact_address_url(@contact.id, address), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>

		</tr>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Address</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add an address', new_contact_address_url(@contact.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for phone in @contact.phones %>
		<tr>
			<% if counter == 0 %>
				<th>Phone</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div><%= h(phone.number) -%> (<%= h(phone.type) -%>)</div>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_phone_url(@contact.id, phone) -%>,
					<%= link_to 'Delete', contact_phone_url(@contact.id, phone), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Phone</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add a phone number', new_contact_phone_url(@contact.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for email in @contact.emails %>
		<tr>
			<% if counter == 0 %>
				<th>Email</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div><%= h(email.address) -%></div>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_email_url(@contact.id, email) -%>,
					<%= link_to 'Delete', contact_email_url(@contact.id, email), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Email</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add an email address', new_contact_email_url(@contact.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for website in @contact.websites %>
		<tr>
			<% if counter == 0 %>
				<th>Website</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div><%= h(website.url) -%></div>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_website_url(@contact.id, website) -%>,
					<%= link_to 'Delete', contact_website_url(@contact.id, website), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Website</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add a website', new_contact_website_url(@contact.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for twitter in @contact.twitters %>
		<tr>
			<% if counter == 0 %>
				<th>Twitter</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div><%= h(twitter.username) -%></div>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_twitter_url(@contact.id, twitter) -%>,
					<%= link_to 'Delete', contact_twitter_url(@contact.id, twitter), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Twitter</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add a twitter username', new_contact_twitter_url(@contact.id) -%></div>
		</td>
	</tr>
</table>

<hr />

<table class="show">
	<% counter = 0 %>
	<% for im in @contact.instant_messagings %>
		<tr>
			<% if counter == 0 %>
				<th>Im</th>
			<% else %>
				<th>&nbsp;</th>
			<% end %>

			<td>
				<div><%= h(im.account) -%> (<%= h(im.type) -%>)</div>
			</td>

			<td>
				<div class="edit">
					<%= link_to 'Edit', edit_contact_instant_messaging_url(@contact.id, im) -%>,
					<%= link_to 'Delete', contact_instant_messaging_url(@contact.id, im), :confirm => 'Are you sure?', :method => 'delete' %>
				</div>
			</td>
		</tr>
		<% counter += 1 %>
	<% end %>
	<tr>
		<% if counter == 0 %>
			<th>Im</th>
		<% else %>
			<th>&nbsp;</th>
		<% end %>
		<td>
			<div class="add"><%= link_to 'Add an instant message account', new_contact_instant_messaging_url(@contact.id) -%></div>
		</td>
	</tr>
</table>
