%h1 Edit twitter
= form_for(:twitter, :url => contact_twitter_url(@contact.id, @twitter), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :username, "Username:"
      %td= f.text_field :username
      %td.error= @twitter.errors[:username].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
