%h1 Add twitter
= form_for(:twitter, :url => contact_twitters_url(@contact.id)) do |f|
  %table.edit
    %tr
      %th= f.label :username, "Username:"
      %td= f.text_field :username
      %td.error= @twitter.errors[:username].first
    %tr
      %th &nbsp;
      %td= f.submit "Add", :class => "button"
