%h1 Edit address
= form_for(:address, :url => contact_address_url(@contact.id, @address), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :address, "Address:"
      %td= f.text_field :address
      %td.error= @address.errors[:address].first
    %tr
      %th= f.label :zipcode, "Zipcode:"
      %td= f.text_field :zipcode
      %td.error= @address.errors[:zipcode].first
    %tr
      %th= f.label :city, "City:"
      %td= f.text_field :city
      %td.error= @address.errors[:city].first
    %tr
      %th= f.label :country, "Country:"
      %td= f.text_field :country
      %td.error= @address.errors[:country].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
