<h1>Add address</h1>                                          

<%= form_for(:address, :url => contact_addresses_url(@contact.id)) do |form| %>

	<table class="edit">
		<tr>
			<th><label for="address_address">Address:</label></th>
			<td><%= form.text_field :address %></td>
			<td><%= @address.errors[:address].first %></td>
		</tr>                                   

		<tr>
			<th><label for="address_zipcode">Zipcode:</label></th>
			<td><%= form.text_field :zipcode %></td>
			<td><%= @address.errors[:zipcode].first %></td>
		</tr>                                   

		<tr>
			<th><label for="address_city">City:</label></th>
			<td><%= form.text_field :city %></td>
			<td><%= @address.errors[:city].first %></td>
		</tr>                                   

		<tr>
			<th><label for="address_country">Country:</label></th>
			<td><%= form.text_field :country %></td>
			<td><%= @address.errors[:country].first %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

