%h1 Edit instant messaging
= form_for(:instant_messaging, :url => contact_instant_messaging_url(@contact.id, @instant_messaging), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :account, "Account:"
      %td= f.text_field :account
      %td.error= @instant_messaging.errors[:account].first
    %tr
      %th= f.label :type, "Type:"
      %td= f.select :type, InstantMessaging::TYPES
      %td.error= @instant_messaging.errors[:type].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
