<h1>Edit instant messaging</h1>                                          

<% form_for(:instant_messaging, :url => contact_instant_messaging_url(@contact.id, @instant_messaging), :html => {:method => :put }) do |form| %>

	<table>
		<tr>
			<th><label for="instant_messaging_account">Account:</label></th>
			<td><%= form.text_field :account %></td>
			<td><%= error_message_on :instant_messaging, :account %></td>
		</tr>                                   

		<tr>
			<th><label for="instant_messaging_type">Type:</label></th>
			<td><%= form.text_field :type %></td>
			<td><%= error_message_on :instant_messaging, :type %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

