%h1 Edit email
= form_for(:email, :url => contact_email_url(@contact.id, @email), :html => {:method => :put }) do |f|
  %table.edit
    %tr
      %th= f.label :address, "Address:"
      %td= f.text_field :address
      %td.error= @email.errors[:address].first
    %tr
      %th &nbsp;
      %td= f.submit "Save", :class => "button"
