%h1 Add email
= form_for(:email, :url => contact_emails_url(@contact.id)) do |f|
  %table.edit
    %tr
      %th= f.label :address, "Address:"
      %td= f.text_field :address
      %td.error= @email.errors[:address].first
    %tr
      %th &nbsp;
      %td= f.submit "Add", :class => "button"
