<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<title>MongoBook</title>
		<%= stylesheet_link_tag "style.css", :media => "all" %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">

				<div id="search">
					<%= form_tag '/contacts/search' do %>
						<%= text_field_tag :search_key, params[:search_key], :class => 'searchtext'-%>
						<%= submit_tag "Search" -%>
					<% end %>
				</div>
				<h1>MongoBook</h1>	
				<div id="navbar">
					<%= link_to 'Contacts', contacts_url -%> |
					<%= link_to 'Export', export_url -%> |
					<%= link_to 'Users', users_url -%> |
					<%= link_to 'Sign out', sign_out_url -%>
				</div>

			</div>

			<div id="content">
				<%= yield :layout %>
			</div>

			<div id="footer">
			</div>
		</div>
	</body>
</html>

